@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 20px 30px;
}

a {
    text-decoration: none;
}

span {
    color: green;
}

span.recommended {
    font-size: 10px;
}

li, .top-box, .showcase, .services div, .info {
    -webkit-box-shadow: -1px 1px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 17px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 17px -6px rgba(0,0,0,0.75);
}

#navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

#navbar ul li {
    background-color: #ccc;
    padding: 10px 0;
    transition: 1s;
}

#navbar ul li:hover {
    background-color: #555;
}

#navbar ul li a {
    color: #000;
}

#navbar ul li a:hover {
    color: #fff;
}

/* Home-showcase */
.top-container {
    display: grid;
    margin: 20px 0;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: #fff;
    grid-area: showcase;
    background: url('../img/blogging-coding-copywriting-34140.jpg') no-repeat center center/cover;
    height: 600px;
}

.showcase h1 {
    margin: 0;
}

.top-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ccc;
    padding: 0 15px;
}

.top-box a {
    background-color: #111;
    color: #fff;
    padding: 10px;
    width: 80%;
    transition: 1s;
    border-radius: 3px;
}

.top-box a:hover {
    background-color: rgb(155, 28, 28);
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Home-Services */

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.services div {
    background-color: #ccc;
    padding: 10px 0;
}

/* Home-Info */
.lower-container {
    background-color: #ccc;
    margin-bottom: 20px;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.info .scope img {
    width: 95%;
    margin: 10px 0 10px 10px;
}